In [2]:
import pandas as pd
from sqlalchemy import create_engine

# Database credentials
DB_USER = "postgres"
DB_PASS = "yhai3ia8Do!"
DB_HOST = "localhost"
DB_PORT = "5432"
DB_NAME = "german_housing_db"

# Connect to PostgreSQL
engine = create_engine(f"postgresql+psycopg2://{DB_USER}:{DB_PASS}@{DB_HOST}:{DB_PORT}/{DB_NAME}")

# Load data from the table
query = "SELECT * FROM german_rent_data;"
df = pd.read_sql(query, engine)

print(f"Loaded {len(df)} rows and {len(df.columns)} columns.")
df.head()

Loaded 268850 rows and 49 columns.

,regio1,servicecharge,heatingtype,telekomtvoffer,telekomhybriduploadspeed,newlyconst,balcony,picturecount,pricetrend,telekomuploadspeed,...,regio2,regio3,description,facilities,heatingcosts,energyefficiencyclass,lastrefurbish,electricitybaseprice,electricitykwhprice,date
0,Nordrhein_Westfalen,245.00,central_heating,ONE_YEAR_FREE,NaN,False,False,6,4.62,10.0,...,Dortmund,Schüren,Die ebenerdig zu erreichende Erdgeschosswohnun...,Die Wohnung ist mit Laminat ausgelegt. Das Bad...,NaN,None,NaN,NaN,NaN,May19
1,Rheinland_Pfalz,134.00,self_contained_central_heating,ONE_YEAR_FREE,NaN,False,True,8,3.47,10.0,...,Rhein_Pfalz_Kreis,Böhl_Iggelheim,Alles neu macht der Mai – so kann es auch für ...,None,NaN,None,2019.0,NaN,NaN,May19
2,Sachsen,255.00,floor_heating,ONE_YEAR_FREE,10.0,True,True,8,2.72,2.4,...,Dresden,Äußere_Neustadt_Antonstadt,Der Neubau entsteht im Herzen der Dresdner Neu...,"* 9 m² Balkon\n* Bad mit bodengleicher Dusche,...",NaN,None,NaN,NaN,NaN,Oct19
3,Sachsen,58.15,district_heating,ONE_YEAR_FREE,NaN,False,True,9,1.53,40.0,...,Mittelsachsen_Kreis,Freiberg,Abseits von Lärm und Abgasen in Ihre neue Wohn...,None,87.23,None,NaN,NaN,NaN,May19
4,Bremen,138.00,self_contained_central_heating,None,NaN,False,True,19,2.46,NaN,...,Bremen,Neu_Schwachhausen,Es handelt sich hier um ein saniertes Mehrfami...,Diese Wohnung wurde neu saniert und ist wie fo...,NaN,None,NaN,NaN,NaN,Feb20

In [3]:
# Overview of data
df.info()
df.describe(include='all')

# Check missing values
df.isna().sum().sort_values(ascending=False).head(15)

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 268850 entries, 0 to 268849
Data columns (total 49 columns):
 #   Column                    Non-Null Count   Dtype
---  ------                    --------------   -----
 0   regio1                    268850 non-null  object
 1   servicecharge             261941 non-null  float64
 2   heatingtype               223994 non-null  object
 3   telekomtvoffer            236231 non-null  object
 4   telekomhybriduploadspeed  45020 non-null   float64
 5   newlyconst                268850 non-null  bool
 6   balcony                   268850 non-null  bool
 7   picturecount              268850 non-null  int64
 8   pricetrend                267018 non-null  float64
 9   telekomuploadspeed        235492 non-null  float64
 10  totalrent                 228333 non-null  float64
 11  yearconstructed           211805 non-null  float64
 12  scoutid                   268850 non-null  int64
 13  noparkspaces              93052 non-null   float64
 14  firingtypes               211886 non-null  object
 15  haskitchen                268850 non-null  bool
 16  geo_bln                   268850 non-null  object
 17  cellar                    268850 non-null  bool
 18  yearconstructedrange      211805 non-null  float64
 19  baserent                  268850 non-null  float64
 20  housenumber               197832 non-null  object
 21  livingspace               268850 non-null  float64
 22  geo_krs                   268850 non-null  object
 23  condition                 200361 non-null  object
 24  interiorqual              156185 non-null  object
 25  petsallowed               154277 non-null  object
 26  street                    268850 non-null  object
 27  streetplain               197837 non-null  object
 28  lift                      268850 non-null  bool
 29  baserentrange             268850 non-null  int64
 30  typeofflat                232236 non-null  object
 31  geo_plz                   268850 non-null  int64
 32  norooms                   268850 non-null  float64
 33  thermalchar               162344 non-null  float64
 34  floor                     217541 non-null  float64
 35  numberoffloors            171118 non-null  float64
 36  noroomsrange              268850 non-null  int64
 37  garden                    268850 non-null  bool
 38  livingspacerange          268850 non-null  int64
 39  regio2                    268850 non-null  object
 40  regio3                    268850 non-null  object
 41  description               249103 non-null  object
 42  facilities                215926 non-null  object
 43  heatingcosts              85518 non-null   float64
 44  energyefficiencyclass     77787 non-null   object
 45  lastrefurbish             80711 non-null   float64
 46  electricitybaseprice      46846 non-null   float64
 47  electricitykwhprice       46846 non-null   float64
 48  date                      268850 non-null  object
dtypes: bool(6), float64(18), int64(6), object(19)
memory usage: 89.7+ MB

telekomhybriduploadspeed    223830
electricitybaseprice        222004
electricitykwhprice         222004
energyefficiencyclass       191063
lastrefurbish               188139
heatingcosts                183332
noparkspaces                175798
petsallowed                 114573
interiorqual                112665
thermalchar                 106506
numberoffloors               97732
housenumber                  71018
streetplain                  71013
condition                    68489
yearconstructed              57045
dtype: int64